.component {
    color: #182633;
    background-color: #F6FCFE;
}

.header {
    /* color: #182633; */
    /* background-color: #F6FCFE; */
}

.button {
    color: #F6FCFE;
    background-color: #037AF8;
}
